# Dummy .htaccess for https://github.com/KazKobara/dockerfile_fswiki_local
#
# - This docker httpd ignores .htaccess due to 'AllowOverride None'
#   in the httpd.conf.
# - Security configuration is placed in httpd-security-fswiki-local.conf
#   (and httpd.conf).
# - If you wants to use .htaccess, 
#   1. Move directives in each 'Directory' directive in the
#      httpd-security-fswiki-local.conf into the .htaccess right under
#      the folder corresponding the 'Directory' directive.
#   2. Edit them, according to your einvironment.
#   3. Change 'AllowOverride None' in httpd.conf.
#   4. Run an httpd restart command, such as `httpd -k restart`.

# Read the above or httpd-security-fswiki-local.conf.
